@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* shared styles */
.display-flex {
    display: flex;
}
.color-p{
   color: #FF900E ; 
}
/* dark-1 */
.dark-1{
    color: #131313;
}

/* dark-2 */
.dark-2{
    color: #424242;
}
/* dark 3 */
.dark-3{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 224, 14, 0.1);
}
.btn-p{
    color: white;
    background-color: #FF900E;
    padding: 10px 15px;
    border-radius:5px ;
    border: none;
    font-weight: bold;
}
/* header */

/* nav bar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: bold;
    font-size: 1rem;
}
/* nav item */
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar , .banner , .teams{
    max-width: 700px;
    margin: 0px auto;
    padding: 10px 20px;
}
/* banner */
.banner-content{
    max-width: 400px;
    margin: 5px auto;
    text-align: center;
    margin-bottom: 20px;
}

.banner-tittle{
    font-size: 3rem;
    font-weight: bold;
}
.banner img{
    width: 100%;
}
/* teams */
.teams{
    /* flex: 1; */
    max-width: 600px;
}
.team-image{
   
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
}
.team-image img{
    width: 100%;
    
}
.team-description{
    max-width: 200px;
   
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* .des-text .dark-3{
    max-width: 300px;
 
} */
/* media query */
@media screen and (max-width: 576px) {
    .navbar , .nav-links , .teams{
        flex-direction: column;
    }
    .team-description{
        margin: 5px auto;
    }
    .nav-links{
        
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
}